<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KAKAO_API_DOMAIN</key>
	<string>dapi.kakao.com/v2</string>
	<key>KAKAO_API_PROTOCOL</key>
	<string>https</string>
	<key>KAKAO_APP_KEY</key>
	<string>eca26b04e01cbca507c6327c0af4cdcb</string>
	<key>KAKAO_RESTAPI_AUTH_METHOD</key>
	<string>KakaoAK</string>
	<key>KAKAO_REST_API_KEY</key>
	<string>8b9d47e3885b0f2e06fac729842fc127</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>ColorSkyLight</string>
		<key>UIImageName</key>
		<string>logo</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
</dict>
</plist>
